:root {
  --about-bg-color: rgba(255, 214, 0, 0.28);
  --main-text-color: #000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    line-height: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1250px;
    font-size: 25px;
    line-height: 29.3px;
  }
}

.text {
  background: rgba(255, 214, 0, 0.28);
  border: 2px dashed #000000;
  border-radius: 50px;
}

.title {
  font-size: 22px;
  line-height: 26px;
}
@media screen and (min-width: 768px) {
  .title {
    padding-bottom: 50px;
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    padding-bottom: 50px;
    font-size: 40px;
    line-height: 47px;
  }
}

.topNubex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 60px;
  background-color: var(--about-bg-color);
  fill: var(--main-text-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 200ms linear;
  border-radius: 50%;
  border: 1px dashed #000000;
  cursor: pointer;
  z-index: 2;
}

#topNubex:hover {
  transform: scale(1.1);
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

.messenger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: 85px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 200ms linear;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
}

.messenger-telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: 155px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 200ms linear;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
}

.messenger:hover, .messenger-telegram:hover {
  transform: scale(1.1);
}

.messenger-icon {
  width: 60px;
  height: 60px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .menu {
    margin-left: 98px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 236px;
  }
}

.menu-list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .menu-list {
    margin-left: 20px;
    justify-content: space-between;
  }
}
.menu-list .menu-item:nth-child(1) {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .menu-list .menu-item:nth-child(1) {
    margin-right: 104px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list .menu-item:nth-child(1) {
    margin-right: 90px;
  }
}
.menu-list :not(:last-child) {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .menu-list :not(:last-child) {
    margin-right: 43px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list :not(:last-child) {
    margin-right: 40px;
  }
}

.menu-item {
  font-weight: 700;
  padding: 20px 0;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear, color 250ms linear;
}

.menu-link a {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu-link a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-link a {
    font-size: 20px;
  }
}

.menu-link:hover,
.menu-link:focus {
  transform: scale(1.1);
  color: rgba(255, 214, 0, 0.6);
}

.logo-icon {
  width: 195px;
  height: 58px;
}
@media screen and (max-width: 767px) {
  .logo-icon {
    width: 152px;
    height: 45px;
  }
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 767px;
  margin-bottom: 10px;
  background-image: url(../img/hero-mob.jpg);
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    margin-bottom: 34px;
    background-image: url(../img/hero-tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1920px;
    margin-bottom: 34px;
    background-image: url(../img/hero2.jpg);
  }
}

.hero-title {
  width: 100%;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 23px;
  padding: 62px 0 47px 0;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 40px;
    line-height: 59px;
    padding: 84px 0 90px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 50px;
    line-height: 59px;
    padding: 215px 0 64px 0;
  }
}

.hero-button {
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(255, 214, 0, 0.6);
  border-radius: 50px;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  font-size: 16px;
  padding: 17px 28px;
  margin-bottom: 95px;
}
@media screen and (min-width: 768px) {
  .hero-button {
    font-size: 18px;
    padding: 23px 38px;
    margin-bottom: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-button {
    font-size: 25px;
    padding: 26px 44px;
    margin-bottom: 160px;
  }
}

.hero-button:hover,
.hero-button:focus {
  transform: scale(1.1);
  background-color: rgba(255, 214, 0, 0.7);
}

.about {
  position: relative;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    margin-bottom: 147px;
  }
}

.about-img {
  background: linear-gradient(0deg, rgba(255, 214, 0, 0.03), rgba(255, 214, 0, 0.03));
  border-radius: 300px;
  width: 200px;
}
@media screen and (max-width: 767px) {
  .about-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .about-img {
    width: 249px;
    padding-right: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img {
    width: 490px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .about-text {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .about-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    padding: 38px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .about-text {
    font-size: 25px;
    line-height: 31px;
    padding: 52px 10px;
  }
}

.about-matrix {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-matrix {
    display: block;
    position: absolute;
    top: 117%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.services {
  position: relative;
}

.services-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .services-img {
    display: block;
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .services-img {
    display: block;
    width: 350px;
  }
}

.services-matrix {
  display: none;
}
@media screen and (min-width: 1200px) {
  .services-matrix {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .services-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .services-list :nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

.services-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .services-item.text {
    max-width: 447px;
    max-height: 207px;
  }
}
@media screen and (min-width: 1200px) {
  .services-item.text {
    max-width: 790px;
    max-height: 350px;
  }
}

.services-text {
  padding: 0 10px 10px;
}
@media screen and (min-width: 768px) {
  .services-text {
    font-size: 16px;
    padding: 0 10px 29px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .services-text {
    font-size: 25px;
  }
}

.services-title {
  padding: 13px 0;
  line-height: 22px;
  font-size: 19px;
}
@media screen and (min-width: 1200px) {
  .services-title {
    line-height: 32px;
    padding: 13px 0 29px 0;
    font-size: 27px;
  }
}

.price {
  position: relative;
}

@media screen and (max-width: 767px) {
  .price-title {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .price-title {
    padding-top: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .price-title {
    padding-top: 60px;
  }
}

.price-text {
  text-align: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .price-text {
    padding: 21px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .price-text {
    padding: 45px 10px;
  }
}

.price-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .price-img {
    display: block;
    position: absolute;
    top: 82%;
    left: 22%;
    transform: translate(-50%, -50%);
  }
}

.price-img__second {
  display: none;
}
@media screen and (min-width: 1200px) {
  .price-img__second {
    display: block;
    position: absolute;
    top: 82.4%;
    left: 77.5%;
    transform: translate(-50%, -50%);
  }
}

.price-button {
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(255, 214, 0, 0.8);
  border-radius: 50px;
  transform: scale(1);
  transition: transform 250ms linear, background-color 250ms linear;
  font-size: 16px;
  padding: 17px 28px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .price-button {
    font-size: 18px;
    padding: 23px 38px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-button {
    font-size: 25px;
    padding: 26px 44px;
    margin-bottom: 80px;
  }
}

.price-button:hover, .price-button:focus {
  transform: scale(1.1);
  background-color: rgb(255, 214, 0);
}

.footer {
  box-sizing: border-box;
  border-top: 2px dashed #000000;
}

.footer-text {
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */