.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  margin-right: auto;
  
  @media screen and (min-width: 768px) {
    margin-left: 98px;
  }
  @media screen and (min-width: 1200px){
    margin-left: 190px;
  }
}
.menu-list{
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px){
    margin-left: 20px;
    justify-content: space-between;
  }
  
    & .menu-item:nth-child(1){
     
      @media screen and (max-width: 767px){
        display: none;
      }
      
      @media screen and (min-width: 768px) {
        
        margin-right: 104px;
      }
      @media screen and (min-width: 1200px) {
        
        margin-right: 90px;
      }
    }
    & :not(:last-child){
      margin-right: 15px;
      @media screen and (min-width: 768px){
        margin-right: 43px;
      }
      @media screen and (min-width: 1200px) {
        margin-right: 40px;
      }
    }
}
.menu-item{
  font-weight: 700;
  padding: 20px 0;
  cursor: pointer;
  transform: scale(1);
    transition: transform 250ms linear, color 250ms linear;
  
}
// .header{
//   box-sizing: border-box;
// border-bottom: 1px dashed #000000;
// }
.menu-link a{
  display: flex;
  align-items: center;
  
  @media screen and (min-width: 768px){
    font-size: 16px;
  }
  @media screen and (min-width: 1200px){
    font-size: 20px;
  }
}
.menu-link:hover,
.menu-link:focus{
  transform: scale(1.1);
color: rgba(255, 214, 0, 0.6);
}
.logo-icon{
  width:195px;
 height:58px;
 @media screen and (max-width: 767px){
  width:152px;
  height:45px;
 }
}
.header-icon{
  fill: currentColor;
    margin-right: 10px;
}