.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  margin-right: auto;
  margin-left: 236px;
}
.menu-list{
  display: flex;
 
    & .menu-item:nth-child(1){
      margin-right: 90px;
    }
    & :not(:last-child){
      margin-right: 40px;}
}
.menu-item{
  font-weight: 700;
  padding: 20px 0;
  cursor: pointer;
  transform: scale(1);
    transition: transform 250ms linear, color 250ms linear;
  
}
// .header{
//   box-sizing: border-box;
// border-bottom: 1px dashed #000000;
// }
.menu-link a{
  display: flex;
  align-items: center;
  font-size: 20px;
}
.menu-link:hover,
.menu-link:focus{
  transform: scale(1.1);
color: rgba(255, 214, 0, 0.6);
}
.header-icon{
  fill: currentColor;
    margin-right: 10px;
}