.price{
  position: relative;
}
.price-title{
  @media screen and (max-width: 767px){
    padding-bottom: 30px;
  }
  @media screen and (min-width: 768px){
    padding-top: 48px;
  }
  @media screen and (min-width: 1200px){
    padding-top: 60px;
  }
}
.price-text{
  text-align: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px 10px;
  @media screen and (min-width: 768px){
    padding: 21px 10px;
  }

  @media screen and (min-width: 1200px){
  padding: 45px 10px;
  }
}
.price-img{
  display: none;
    @media screen and (min-width: 1200px){
      display: block;
      position: absolute;
      top: 82%;
      left: 22%;
      transform: translate(-50%, -50%);
    }
}
.price-img__second{
 display: none;
    @media screen and (min-width: 1200px){
      display: block;
      position: absolute;
      top: 82.4%;
      left: 77.5%;
      transform: translate(-50%, -50%);
    }
}
.price-button{
  font-weight: 700;
line-height: 29px;
text-align: center;
color: #FFFFFF;
background-color: rgba(255, 214, 0, 0.8);
border-radius: 50px;
transform: scale(1);
transition: transform 250ms linear, background-color 250ms linear;
font-size: 16px;
padding: 17px 28px;
margin-bottom: 20px;
@media screen and (min-width: 768px){
  font-size: 18px;
  padding: 23px 38px;
margin-bottom: 20px;
}
@media screen and (min-width: 1200px){
  font-size: 25px;
  padding: 26px 44px;
margin-bottom: 80px;
}
}
.price-button:hover,.price-button:focus{
  transform: scale(1.1);
  background-color: rgba(255, 214, 0, 1)
}