:root{
  --about-bg-color: rgba(255, 214, 0, 0.28);
  --main-text-color: #000;
}

//  Container
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    font-size: 16px;
  }

  @media screen and (min-width: 1200px) {
    width: 1250px;
    font-size: 25px;
  }

}

.text{
  background: rgba(255, 214, 0, 0.28);
  border: 2px dashed #000000;
  border-radius: 50px;
}
.title{
  @media screen and (min-width: 768px){
    padding-bottom: 50px;
  font-size: 30px;
  line-height: 35px;
  }

@media screen and (min-width: 1200px){
  padding-bottom: 50px;
font-size: 40px;
line-height: 47px;
}
}
.topNubex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 60px;
  height: 60px;
  background-color: var(--about-bg-color);
  fill: var(--main-text-color);
  box-shadow: 0px 2px 9px rgb(0 0 0 / 50%);
  transform: scale(1);
  transition: transform 200ms linear;
  border-radius: 50%;
  border: 1px dashed #000000;;
  cursor: pointer;
  z-index: 2;
}
#topNubex:hover {
  transform: scale(1.1);
}